<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77973643141-ueqe87hs5evmubomdckibeb1ga1et4ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77973643141-ueqe87hs5evmubomdckibeb1ga1et4ts</string>
	<key>API_KEY</key>
	<string>AIzaSyAwF5TTJK1ODI8UHUxUZ38oNmj2l3K9EeM</string>
	<key>GCM_SENDER_ID</key>
	<string>77973643141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.framework7.simedarbycommunity</string>
	<key>PROJECT_ID</key>
	<string>simedarbycommunity</string>
	<key>STORAGE_BUCKET</key>
	<string>simedarbycommunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77973643141:ios:e72cc74d7f9b6215362eec</string>
	<key>DATABASE_URL</key>
	<string>https://simedarbycommunity.firebaseio.com</string>
</dict>
</plist>