/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #f04e23;
  --f7-theme-color-rgb: 240, 78, 35;
  --f7-theme-color-shade: #db3a0f;
  --f7-theme-color-tint: #f36d49;
  --f7-card-footer-text-color:#000;
  --f7-calendar-header-bg-color:#f36d49;
  --f7-calendar-week-header-bg-color:var(--f7-calendar-header-bg-color);
  --f7-calendar-footer-bg-color:var(--f7-calendar-week-header-bg-color);
  --f7-searchbar-link-color:var(--f7-theme-color);
  
}
/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-navbar-bg-image: linear-gradient(to right, #f8912c, #f78226, #f57223, #f36122, #f04e23);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-bg-color: var(--f7-bars-bg-color);
  --f7-searchbar-input-bg-color: #fff;
  --f7-searchbar-input-text-color: #000;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: transparent;
  --f7-block-title-text-color:#000;
  --f7-tabbar-link-inactive-color:#000;
  
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}

/* Your app custom styles here */
.statusbar {
  background: linear-gradient(to right, #f8912c, #f78226, #f57223, #f36122, #f04e23);
}
.smart-select-sheet{
  .toolbar{
    background:linear-gradient(to right, #f8912c, #f78226, #f57223, #f36122, #f04e23);
  }
}
.sheet-modal{
  .toolbar{
    background:linear-gradient(to right, #f8912c, #f78226, #f57223, #f36122, #f04e23);
  }
}
.calendar{
  .toolbar{
    background-color:var(--f7-calendar-footer-bg-color);
  }
}
.text-center{
  text-align: center;
}
.page-content{
  background-color:#fdfdfd;
}
.auto-height{
  height:auto;
}
.capitalize{
  text-transform: capitalize;
}
.color-green {
  --f7-theme-color: #7fc97d;
  --f7-theme-color-rgb: 76, 217, 100;
  --f7-theme-color-shade: #7fc97d;
  --f7-theme-color-tint: #7fc97d;
}


.padding-top-none{
  padding-top: 10px !important;
}


.full_height{
  height:100% !important;
}